@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  /* box-sizing est appliqué à tous les éléments */
  margin: 0;
  /* Réinitialisation de la marge */
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  justify-content: center;
  max-width: 1441px;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

/*                                      Loader                                       */
.loader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -999;
  margin: auto;
  width: 200px;
  height: 200px;
  animation: affich-loader 1.5s forwards;
}
.loader__spinner {
  width: 220px;
  height: 220px;
  border: 16px solid #f3f3f3;
  border-radius: 500%;
  border-top: 16px solid #9356DC;
  border-left: 16px solid #FF79DA;
  border-right: 16px solid #99E2D0;
  animation: spin 1.5s linear;
  margin: auto;
}
.loader__logo {
  position: absolute;
  width: 160px;
  height: 60px;
  margin: -135px 0 0 30px;
}

/*                                      Keyframes                                       */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes affich-loader {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes affich {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes heart-fill {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes heart-reset {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.content {
  animation: affich 1.75s;
}

/*                                      Header                                      */
.header {
  display: flex;
  flex-direction: column;
}
.header a {
  margin: auto;
}
.header__logo {
  width: 11em;
  padding-top: 1.2em;
}
.header__location {
  display: flex;
  width: 100%;
  padding: 1em;
  margin-top: 0.8em;
  box-shadow: 0 0.1em 0.3em 0 rgb(204, 198, 198) inset;
  justify-content: center;
  background-color: rgb(234, 234, 234);
  color: rgb(53, 53, 53);
}
.header__location__icon {
  margin-right: 1em;
}
.header__location__text {
  font-weight: 700;
  border: none;
  background-color: rgb(234, 234, 234);
  width: 150px;
  height: auto;
  color: rgb(53, 53, 53);
  padding-bottom: 3px;
}
.header__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5em 1.2em;
  background-color: rgb(246, 246, 246);
}
.header__info__title {
  font-size: 1.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  font-weight: 900;
}
.header__info__subtitle {
  font-size: 1.1em;
  color: rgb(77, 77, 77);
}
.header__info__button {
  margin: 1.5em 0 2.1em 0;
  padding: 1em 1.2em;
  border-radius: 25px;
  color: #fff;
  background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
  border-style: none;
  box-shadow: 0 0.2em 0.5em 0.2em rgb(210, 210, 210);
  cursor: pointer;
}
.header__info__button:hover {
  background: linear-gradient(175deg, rgba(255, 121, 218, 0.9) 0%, rgba(147, 86, 220, 0.9) 100%);
  box-shadow: 0 0.2em 0.5em 0.2em rgb(189, 189, 189);
}

/*                                      Main                                        */
/*                                 Fonctionnement section                                   */
.fonct {
  display: flex;
  flex-direction: column;
  margin: 0 1.5em 3em 1.5em;
}
.fonct__title {
  font-weight: 800;
  margin: 2em 0 1.5em 0;
}
.fonct__box {
  display: flex;
  background-color: rgb(246, 246, 246);
  height: 4.5em;
  margin-bottom: 1.5em;
  border-radius: 20px;
  box-shadow: 0 0.2em 0.5em 0.1em rgb(223, 223, 223);
  align-items: center;
}
.fonct__box:hover {
  background-color: rgb(245, 237, 255);
}
.fonct__box:hover > i {
  color: #9356DC;
}
.fonct__box__nb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #fff;
  font-size: 0.9em;
  margin-left: -11px;
}
.fonct__box__icon {
  color: rgb(126, 126, 126);
  margin: 0 1.3em 0 1em;
  font-size: 1.1em;
}
.fonct__box__text {
  font-size: 1em;
}

/*                                 Restaurants section                                   */
.restos {
  display: flex;
  flex-direction: column;
  background-color: rgb(246, 246, 246);
  padding: 0 1.3em 2.8em 1.3em;
}
.restos__title {
  font-weight: 800;
  margin: 2.3em 0 0.9em 0;
}
.restos__box {
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
}
.restos a {
  color: black;
  display: flex;
  flex-direction: column;
  height: 255px;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 1.1em;
  box-shadow: 0 0.2em 0.5em 0.1em rgb(223, 223, 223);
}
.restos a:hover {
  box-shadow: 0 0.2em 0.1em 0.1em rgb(197, 197, 197);
}

.card-image {
  display: flex;
  height: 70%;
  width: 100%;
  justify-content: flex-end;
  border-radius: 15px 15px 0 0;
}
.card-image__box {
  width: 100%;
  max-height: 335px;
  border-radius: 15px 15px 0 0;
}
.card-image__box__image {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.card-image p {
  background-color: #99E2D0;
  color: rgb(0, 135, 102);
  height: fit-content;
  padding: 6px 12px;
  margin: 12px;
  font-weight: 500;
  border-radius: 3px;
  font-size: 0.9em;
  position: absolute;
}

.card-legend {
  display: flex;
  padding: 12px;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  height: 30%;
  justify-content: space-between;
}
.card-legend__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card-legend__like {
  height: fit-content;
  margin: 1em 0.5em;
  z-index: 1000;
}
.card-legend__like:hover > .card-legend__like__heart--full {
  animation: heart-fill 0.2s linear forwards;
}
.card-legend__like:hover > .card-legend__like__heart {
  animation: heart-reset 0.4s linear forwards;
}
.card-legend__like__heart {
  font-size: 1.4em;
  z-index: 1000;
}
.card-legend__like__heart--full {
  position: absolute;
  z-index: 1000;
  font-size: 1.4em;
  margin-left: -1em;
  background: linear-gradient(60deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  background: -moz-linear-gradient(60deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  background: -webkit-linear-gradient(60deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

/*                                      Footer                                        */
footer {
  background-color: rgb(53, 53, 53);
  color: #fff;
  height: 195px;
  padding: 20px;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  font-size: 1.2em;
}
footer li {
  list-style: none;
  margin: 20px 0;
}
footer ul {
  padding: 0;
  margin: 8px 0;
}
footer a {
  color: #fff;
  display: flex;
  align-items: baseline;
}
footer p {
  margin-left: 8px;
}

/*                                    Affichage Tablette                                      */
@media screen and (min-width: 699px) {
  /*                                      Main                                        */
  /*                               Fonctionnement section                                   */
  .fonct {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .fonct__title {
    width: 100%;
  }
  .fonct__box {
    width: 32%;
    margin: 0 auto;
  }
  .fonct__box__nb {
    width: 25px;
    height: 25px;
  }
  .fonct__box__icon {
    margin-right: 1em;
  }
  /*                                 Restaurants section                                   */
  .restos a {
    width: 48%;
    margin: 0.5em auto;
  }
  /*                                      Footer                                        */
  footer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  footer li {
    margin: 10px 0 0 0;
  }
  footer a {
    justify-content: center;
  }
}
/*                                    Affichage Desktop                                      */
@media (min-width: 992px) {
  /*                               Fonctionnement section                                   */
  .fonct__box {
    width: 30.6%;
  }
  /*                                 Restaurants section                                   */
  .restos a {
    width: 48%;
    height: auto;
    margin: 1em auto;
  }
  .card-image {
    height: 80%;
  }
  .card-legend {
    height: 20%;
  }
  /*                                      Footer                                        */
  footer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  footer li {
    margin: 10px 0 0 0;
  }
  footer a {
    justify-content: center;
  }
}
