@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
   /* box-sizing est appliqué à tous les éléments */
    margin: 0;
    /* Réinitialisation de la marge */
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    justify-content: center;
    max-width: 1441px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

//                                     Variables 
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;

$title-size:1.5em;
$sub-title-size:1.1em;


//                                  Placeholder


/*                                      Header                                      */
.header{
    display: flex;
    flex-direction: column;

    a{
        margin: auto;
    }

    &__logo{
        width: 11em;
        padding-top: 1.2em;
    }

    &__location{
        display: flex;
        width: 100%;
        padding: 1em;
        margin-top: 0.8em;
        box-shadow: 0 0.1em 0.3em 0 rgb(204, 198, 198) inset;
        justify-content: center;
        background-color: rgb(234, 234, 234);
        color: rgb(53, 53, 53);

        &__icon{
            margin-right: 1em;
        }

        &__text{
            font-weight: 700;
        }
    }

    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1.5em 1.2em;
        background-color: rgb(246, 246, 246);

        &__title{
            font-size: $title-size;
            margin-left: 1.5em;
            margin-right: 1.5em;
            font-weight:900;
        }

        &__subtitle{
            font-size: $sub-title-size;
            color: rgb(77, 77, 77);
        }

        &__button{
            margin: 1.5em 0 2.1em 0;
            padding: 1em 1.2em;
            border-radius: 25px;
            color: #fff;
            background: linear-gradient(175deg, $secondary-color 0%, $primary-color 100%);
            border-style: none;
            box-shadow: 0 0.2em 0.5em 0.2em rgb(210, 210, 210);
            cursor: pointer;

            &:hover{
                background: linear-gradient(175deg, rgba(255,121,218,0.90) 0%, rgba(147,86,220,0.90) 100%);
                box-shadow: 0 0.2em 0.5em 0.2em rgb(189, 189, 189);
            }
        }
    }
}

/*                                      Main                                        */

/*                                 Fonctionnement section                                   */

.fonct{
    display: flex;
    flex-direction: column;
    margin: 0 1.5em 3em 1.5em;
    
    @media screen and (min-width: 699px){
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__title{
        font-weight: 800;
        margin: 2em 0 1.5em 0;

        @media screen and (min-width: 699px){
            width: 100%;
        }
    }

    &__box{
        display: flex;
        background-color: rgb(246, 246, 246);
        height: 4.5em;
        margin-bottom: 1.5em;
        border-radius: 20px;
        box-shadow: 0 0.2em 0.5em 0.1em rgb(223, 223, 223);
        align-items: center;
        cursor: pointer;

        @media screen and (min-width: 699px){
            width: 29.4%;
            margin: 0 0.8em;   
        }

        @media (min-width: 992px) {
            width: 30.6%;
        }

        &:hover{
            background-color: rgb(245, 237, 255);

            & > i{
                color: $primary-color;
            } 
        }

        &__nb{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 23px;
            height: 23px;
            border-radius: 50%;
            background-color: $primary-color;
            color: #fff;
            font-size: 0.9em;
            margin-left: -11px;

            @media screen and (min-width: 699px){
                width: 25px;
                height: 25px;
            }
        }

        &__icon{
            color: rgb(126, 126, 126);
            margin: 0 1.3em 0 1em;
            font-size: 1.1em;

            @media screen and (min-width: 699px){
                margin-right: 1em;
            }
        }

        &__text{
            font-size: 1em;
        }

        
    }
}

/*                                 Restaurants section                                   */
.restos{
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 246, 246);
    padding: 0 1.3em 2.8em 1.3em;

    &__title{
        font-weight: 800;
        margin: 2.3em 0 0.9em 0;
    }

    &__box{
        display: flex;
        flex-wrap: wrap;
        border-radius: 15px;
        
    }

    a{
        color: black;
        display: flex;
        flex-direction: column;
        height: 255px;
        width: 100%;
        border-radius: 15px;
        margin-bottom: 1.1em;
        box-shadow: 0 0.2em 0.5em 0.1em rgb(223, 223, 223);

        @media screen and (min-width: 699px){
            width: 47.5%;
            margin: 0.5em;
        }

        @media (min-width: 992px) {
            width: 23.3%;
        }

        .card-image{
            display: flex;
            height: 70%;
            width: 100%;
            justify-content: flex-end;
            border-radius: 15px 15px 0 0;

            &__box{
                width: 100%;
                max-height: 335px;
                border-radius: 15px 15px 0 0;

                &__image{
                    width: 100%;
                    height: 100%;
                    border-radius: 15px 15px 0 0;
                    object-fit: cover;

                }
            }

            p{
                background-color: #99E2D0;
                color: rgb(0, 135, 102);
                height: fit-content;
                padding: 6px 12px;
                margin: 12px;
                font-weight: 500;
                border-radius: 3px;
                font-size: 0.9em;
                position: absolute;
                
            }
        }

        .card-legend{
            display: flex;
            padding: 12px;
            background-color: #fff;
            border-radius: 0 0 15px 15px;
            height: 30%;
            justify-content: space-between;

            div{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }

            i{
                margin: 1em 0.6em 0 0;
            }
        }

        &:hover{
            box-shadow: 0 0.2em 0.1em 0.1em rgb(197, 197, 197);
        }
    }
}

/*                                      Footer                                        */
footer{
    background-color: rgb(53, 53, 53);
    color: #fff;
    height: 195px;
    padding: 20px;

    h2{
        font-family: 'Shrikhand', cursive;
        font-weight: 100;
        font-size: 1.2em;
    }
    li{
        list-style: none;
        margin: 20px 0;
    }

    ul{
        padding: 0;
        margin: 8px 0;
    }
     
    a{
        color: #fff;
        display: flex;
        align-items: baseline;
    }

    p{
        margin-left: 8px;
    }

}

